<!DOCTYPE html>
<html lang="en"> 
    <head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
	<link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
        <title> Eat Da Fav Burger!</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>